.image-descriptif {
	padding: 0 !important;
	text-align: center;
	position: fixed;
	//top: 0;
	//left: 0;
	width: 100%;
	height: 100%;
	.avatar-img {
		//position: relative;
		border-radius: 50%;
		height: 250px;
		top: 40px;
		z-index: 1;
		margin-top: 20px;


		@media #{$mobile-media-query}{
			height: 150px;
		}

	}
	.mdl-cell {
		//margin: 10px auto !important;
		.banner-text {
			color: white;
			background: black;
			opacity: .8;
			width: 90%;
			border-radius: 10px;
			margin: 20px auto;
			padding: 10px 0;

			h1 {
				font-weight: bold;
				font-size: 60px;
				line-height: 70px;
			}
			>hr {
				border-top: 5px dotted white;
				width: 50%;
				margin: 0 auto;
			}
			p {
				font-size: 20px;
				padding: 1rem;
			}
		}
		.social-links {
			color: white;
			display: flex;
			justify-content: space-between;
			width: 50%;
			margin: 0 auto;
			i {
				color: white;
				font-size: 5rem;
				padding: 8px;
			}
		}
	}
}