@import "responsive.scss";
@import "image-descriptif.scss";
@import "projet-card.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
//@import "fonts/icomoon.scss";

.projects-grid {
	//display: flex;
}

/**** Resumé ****/
.resume-right-col {
	background: #27221F;
	color: white;
	padding: 2em;
}

/**** Contact ****/
.contact-body {
	margin: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding-top: 2em;

	.contact-grid {
		text-align: center;
		justify-content: center;
		width: 80%;
		height: 550px;
		background: white;
		color: black;
		border: 2px solid purple;
		margin-bottom: 20px;

		h2 {
			font-family: 'Anton', sans-serif;
		}
		/* Image avatar */
		img {
			height: 250px;
			border-radius: 5%;
		}
		p {
			font-family: 'Oxygen', sans-serif;
			font-weight: bold;
		}
		hr {
			border-top: 5px dotted black;
			width: 50%;
			margin: auto;
		}
		/* Icon */
		i {
			font-size: 50px;
			padding-right: 20px;
		}
	}
}

/****** CONTACT 2 ******/
.contact {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(236, 9, 206);
  background-color: #eee;

	span {
		font-size: 1.2em;
		text-decoration: none;
		color: rgb(75, 33, 33);
	}
}
