#footer {
  background: #89253e;
  width: 100%;
  position:absolute;
  bottom:0px;
  left:0px;
  color:black;
  margin:0px;
  display:block;
  height: 70px;
  padding: 0;

  .mdl-mini-footer__left-section {
    padding: 20px 0 0 20px;
  }
}
  